<?xml version="1.0"?>
<model>
  <name>skyvortex_ocee</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
   <name>lokleee</name>
   <email>lizc@hnu.edu.cn</email>
  </author>

  <description>
    This is a six-rotor Fully-actuated drive drone designed and developed by Hunan University's Laboratory of Field Robotics and Autonomous Systems.
    It has an Omnidirectional Chassis End Effector(OCEE).
  </description>
</model>
